@import "tailwindcss";

:root {
  --background: #05010d;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top, rgba(139, 92, 246, 0.25), transparent 35%),
    radial-gradient(
      circle at bottom right,
      rgba(168, 85, 247, 0.18),
      transparent 30%
    ),
    #05010d;

  color: var(--foreground);
  min-height: 100vh;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #090312;
}

::-webkit-scrollbar-thumb {
  background: #7c3aed;
  border-radius: 999px;
}
